@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enter the management system by clicking the button</p>
    <a class="btn btn-primary btn-outline-dark pull-right m-1" asp-controller="Customers"
   asp-action="Index">Enter</a>
   <p>Enter the shopping page by clicking the button</p>
    <a class="btn btn-success btn-outline-dark pull-right m-1" asp-controller="Shopping"
   asp-action="Index">Shopping</a>

</div>
